body {
    background-color: rgb(85, 204, 164);
}

h1 {
    font-weight: 800;
    font-style: normal;
    font-family: sans-serif;
    font-size: 5em;
    color: rgb(8, 47, 95);
    text-align: center;
}
